.croped {
    width: 350px;
    overflow: hidden;
}

.croped .imged {
    width: auto;
    height: 300px;
}

.selected {
    max-width: 200px;
    min-width: 200px;
    margin: auto;
}

.buttoned {
    margin: auto;
}

.rowed {
    max-width: fit-content;
}